
@{
    ViewBag.Title = "Manage Transactions";
}

<h2>Manage Transactions</h2>

@using (Html.BeginForm("SaveTransactions", "Manager", FormMethod.Post))
{
    @Html.Hidden("user_id", (string)ViewBag.UserId)
    <dl class="dl-horizontal">
    
    
        <dt>
            Can Create
        </dt>

        <dd>
            @Html.CheckBox("can_create", (bool)ViewBag.CanCreate)
        </dd>

        <dt>
            Can Edit
        </dt>

        <dd>
            @Html.CheckBox("can_edit", (bool)ViewBag.CanEdit)
        </dd>

    </dl>
    <br />
    <input class="btn btn-default" type="submit" value="Save" />
}

